.item{
  flex-grow: 1;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
.item-text{
  display: none;

}
.link{
  text-decoration: none;
}
@media only screen and (min-width: 600px) {
  .item{
    flex-grow: 0;
  }
  .item-text{
    margin-left: 15px;
    display:block;
  }
}
