.menu{
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content:space-around;
  width: 100%;
  align-items: center;
  background-color: #244680;
}

@media only screen and (min-width: 600px) {
  .menu{
    left:0px;
    top: 0px;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    width: 20%;
    background-color: #244680;
  }
}
