.checkbox-container{
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select: none;
}

/* Hide browsers default input checkbox*/
.checkbox-container input{
  position: absolute;
  width: 0px;
  height: 0px;
  cursor: pointer;
  opacity: 0;
}

.checkmark{
position: absolute;
top:0;
left: 0;
width: 25px;
height: 25px;
background-color: #eee;
}
/* On mouse-over, add a  background color */
.checkbox-container:hover input ~ .checkmark{
  background-color: #ccc;
}
/* When the checkbox is checked, add a  background */
.checkbox-container input:checked ~ .checkmark{
  background-color:  lightgreen;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark::after{
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark::after{
display:block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark::after{
  left:9px;
  top:5px;
  border:solid white;
  width: 5px;
  height: 10px;
  border-width: 0 3px 3px 0;
  -webkit-transform:rotate(45deg);
  transform: rotate(45deg);
}
